.main__column {
    width: 20%;
    margin: 0 auto;
    display: block;
  }

  .column__title {
    padding: 0 10px;
    margin: 15px 0;
  }

  .cards {
    width: 100%;
    display: block;
    position: relative;
  }